$color-primary: #1DF9BA;
$color-secondary: #444;
$color-tertiary: #1ccad8;
$color-quaternary: #8ee4af;
$color-quinary: #edf5e1;

$color-border: #efefef;

$color-success: #379683;
$color-error: #ff5964;

$color-light: #fff;
$color-dark: #000;

$ff-primary: 'Poppins', sans-serif;
$ff-secondary: 'Poppins', sans-serif;