.c-infobox {
  border-bottom: 1px solid $color-border;
  margin-bottom: 40px;

  h4 {
    margin-bottom: 20px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    &_item {
      width: 50%;
      padding-right: 20px;
      margin-bottom: 20px;

      h5 {
        margin-bottom: 5px;
      }

      p {
        font-weight: 300;
        display: flex;
        align-items: center;

        .line {
          width: 10px;
          height: 1px;
          background-color: $color-primary;
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
}